/*card css*/

.games{
	background-image: url('images/bg.jpg');
	background-size: 100% 100%;
  	background-repeat: no-repeat;
}


h3 {
	font-size: 1.6em;
    font-weight: 600;
    text-transform: capitalize;
    margin: 62px 49px -1px -48px;
    padding: 0;
    color: #fff;
    font-style: italic;
}
.btn-styled {
	background-color: #00ffc6;
    border: #0e9577 1.9px solid;
    color: #006a53;
    font-size: 15px;
    font-weight: 800;
    border-radius: 30px;
    padding: 5px 13px 4px 13px;
    width: 102px;
    margin: 10px 0 11px 0;
}
.btn-styled:hover, .btn-styled:active  {
	background-color:#ededed;
	border-color:#ededed;
	color:#555555;
}
.btn-styled:focus {
	outline:0 !important;
}
/*----------3.Cards----------*/
.card {
	position: relative;
  	margin:6% 6px 4% 0px;
  	/*background-color: #fff;*/
  	transition: box-shadow .25s;
  	border-radius: 2px;
   	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	padding:0;
	width: 100%;/*
	min-width:auto;
	max-width:auto;*/
}
.card .card-image img {
  display: block;
  /*border-radius: 2px 2px 0 0;*/
  position: relative;
  border-radius: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card .card-content {
  padding:49px 19px 20px 0px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin:0;
  font-size:1.45rem;
  color: #555555;
}
/*----3.a.Horizontal----*/
.card.horizontal .card-image img {
	height:100px;
	width:100px;
}

.card.horizontal {
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	background-image: url(./images/frame.png);
  	background-size: 100% 100%;
  	background-repeat: no-repeat;

}
.card.horizontal.small .card-image,
 .card.horizontal.medium .card-image,
  .card.horizontal.large .card-image {
  	height: 100%;
  	max-height: none;
  	overflow: visible;
}
.card.horizontal .card-image img {
  	width:150px;
	height:150px;
	margin-right:20px;
}
.card.horizontal .card-stacked {
  	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  	-webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  	position: relative;
}
.card.horizontal .card-stacked .card-content {
  	-webkit-flex-grow: 1;
    -ms-flex-positive: 1;
	flex-grow: 1;
}
.card .card-image {
  position: relative;
}


/*Start Section Footer*/
.footer {background-image: url("images/footer.png"); color: #AAA; padding: 20px 0px 20px;}
.footer a {color: #AAA}
/*.footer a:hover {color: #FFF}*/
.footer h3 {color: #E41B17; letter-spacing: 1px; margin: 30px 0 20px}
.footer .three-columns {overflow: hidden}
.footer .three-columns li {width: 33.3333%; float: left; padding: 5px 0}
.footer .social-list {overflow: hidden; margin: 20px 0 10px}
.footer .social-list li
{
	float: left;
	margin-right: 3px;
	opacity: 0.7;
	filter: alpha(opacity=70%);
}
.footer .social-list li:hover {opacity: 1}
.footer .img-thumbnail {background: rgba(0, 0, 0, 0.2); border: 1px solid #444; margin-bottom: 5px}
.footer .copyright
{
	background:#E41B17;
	color: #AAA;
	padding: 5px 0;
	margin-top:30px;
	font-size:17px
}
.footer .copyright span {color: #E41B17}

.btn-sosmed {
	width: 8%;
}